.header {
    text-align: center;
    border: black 2px dotted;
}

.footer {
    text-align: center;
    border: black 2px dotted;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Set for sticky footer, wraps whole site page */
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Set for sticky footer, wraps the React components, leave footer outside of it */
  .Site-content {
    flex: 1;
  }

  .close {
      margin: 15px;
  }